.card{
    border:2px black solid;
    padding: 20px;
    width: 450px;
    background-color: beige;
    border-radius:20px;
    margin-left:10px;

}
h4{
    font-size:15px;
    color:brown;
    font-family:monospace;
}