.container{
    display: flex;
    gap:20px;
    text-align: center;
}
.card1{
    border:2px solid orange;
    border-radius:10px;
    padding:10px;
    margin-bottom:10px;
    margin-left:10px;
}
.pizza1 img{
    width:150px;
    border-radius:10px;
    background-size: cover;
}
.pizza1 h3{
    color:orange;
}
.pizza1 p{
    color:orange;
}

.pizza2 img{
    height:190px;
    width:200px;
    background-size: cover;
}
.pizza2 h3{
    color: red;
}
.pizza2 p{
    color: red;
}
.pizza3 img{
    width:190px;
    height:190px;
    background-size:cover;
}
.pizza3 h3{
    color: rgb(207, 72, 9);
}
.pizza3 p{
    color: rgb(207, 72, 9);
}